<html>
    <head>
        <body>
            <h1>Welcome to your csrf project</h1>
            <h3>Your secrec message is:{{.SecretMessage}}</h3>
            <form name="logout"></form>
            <form name="deleteUser"></form>
        </body>
    </head>
</html>